* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
    background-color: rgb(228, 238, 232);

    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;


}

.background {
    position: relative;
    height: 100%;
}

.background::before {
    content: "";
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-image: url('bck3.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.07;
    z-index: -1;
}




header{
    display: flex;
    justify-content: left;   
    align-items: center;    
    height: 100px; 
}

.left{
    display: flex;
    justify-content: left;   
    align-items: center;  

    height: 100px; 
    width: 70vw;
}

.right{
    display: flex;
    justify-content: right;   
    align-items: center;  

    height: 100px; 
    width: 30vw;

    padding-right: 5vw;

}

footer{
    background-color: rgb(36, 36, 36);
    height: 15vh;

    display: flex;
    flex-direction: row;  

}

h1{
    font-family: 'Oswald', sans-serif;
    color: #4f4f4f;
    font-size: 42px;
    text-transform: uppercase;

    white-space: nowrap;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;

    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #737373;
    font-size: 20px;

    letter-spacing: 4px;

    margin-left: 30px;
    margin-right: 30px;

    
}



/*section titles*/
h2{
    font-family: 'Oswald', sans-serif;
    color: #8a8a8a;
    font-size: 25px;
    text-transform: uppercase;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 10px;

    letter-spacing: 3px;
}

h3{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #323232;
    font-size: 20px;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.h3link{
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    color: #565656;
    font-size: 17px;

    font-style: italic;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

h4{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #737373;
    font-size: 17px;

    margin-left: 20px;
    margin-right: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
}

hr {
  border: none;
  height: 2px;
  background-color: #d1d0d0;
  width: 100%; 

  margin-top: 20px;
  margin-bottom: 20px;
}



.map{
    display: flex;
    justify-content: left; 
    align-items: flex-start;

    margin-right: 20px;
    margin-left: 20px;

    margin-bottom: 50px;
}

.stat_map{

    position: sticky;
    top: 20px;

    border: none;
    outline: none;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 20px;

    display: flex;

    width: auto;
    height: 70vh;
}



.mapinfo{

    width: 20vw;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: left; 
}

.bioinfo{

    height: 100%;
    width: auto;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 20px;

    display: flex;
    flex-direction: column;
    justify-content: left;
}

.bio{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    margin-right: 20px;
    margin-left: 20px;

    margin-bottom: 20px;
}


.photo_prof{
    height: 40vh;
    object-fit: contain;

    padding-left: 20px;
    padding-right: 20px;
}


/*VIEWER*/

.back_btn{
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    color: #737373;
    font-size: 40px;

    margin-left: 20px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}

.view{
    background-color: black;

    width: 100vw;
    height: 90vh;
}

.back{
    background-color: black;

    width: 100vw;
    height: 10vh; 

    display: flex;
    align-items:center;
}

.stat_map_view{
    width: 100vw;
    height: auto;

    margin-right: 20px;
}

.interact_wrapper{
    position: sticky;
    top: 20px;
    margin: 0;
}

#zion1{
    display: none;
    margin: 0;
}

#urban1{
    display: none;
    margin: 0;
}

#qu1{
    display: none;
    margin: 0;
}

/*MOBILE UPDATAES*/

@media (orientation: portrait) {

    #zion1{
        display: block;
        width: 95vw;
        height: auto;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vh;
    }

    #urban1{
        display: block;
        width: 95vw;
        height: auto;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vh;
    }

    #qu1{
        display: block;
        width: 95vw;
        height: auto;
        padding: 0;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5vh;
        position:relative;
    }

    

    footer{
        height: 30vh;
    }

    .left{
        display: flex;
        justify-content: flex-start; 
        align-items: flex-start;  

        flex-direction: column;
        width: 100vw;
        height: auto;
    }

    a{
        margin-left: 20px;
    }

    .stat_map{
        display: none;
    }

    .right{
        display: none;
        width: 0vw;
        padding: 0;
        margin: 0;
    }

    .photo_prof{
        display: normal;

        padding: 0;
        margin: 0;

        height: 90vw;
        width: 90vw;


        object-fit: cover;
        object-position: center 80%;
    }

    header{
        width: 100vw;
        height: auto;
        justify-content: flex-start; 
        align-items: flex-start;
    }

    h1{
        font-size: 10vw;
        margin-bottom: 0vh;
    }

    h2{
        margin-top: 5vh;
    }


    .right{
        width: 0vw;
    }

    .mapinfo{
        width: 100vw;
        margin-right: 0vw;
    }

    .map{
        margin: 0px;
        flex-direction: column;
    }

    .bio{
        margin: 0;

        display: flex;
        align-items: center;

        flex-direction: column;

    }

    .bioinfo{
        margin-right: 0vw;

    }


    .interact_wrapper{
        display: none;
    }

    #hdr_links{
        display: none;
    }



}
